{% extends "base.html" %}

{% block contenu %}
<h1> Faites une multiplication </h1>
<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Le formulaire</title>
		</head>
		<body>
		<br>
			<form action="http://localhost:5000/resultmul" method="post">
					<label>Chiffre 1</label> : <input type="text" name="nbr1"  required/>
					<label>Chiffre 2</label> : <input type="text" name="nbr2" required />
					<input type="submit" value="Envoyer" />
			</form>
		</body>
	</html>
    {% endblock %}